.panelChannels {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black-100);
}
.panelChannels__title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: var(--size-height-timeHours);
  text-align: center;
}

.panelChannels__title__p {
  color: var(--white);
  font-weight: 700;
  font-size: var(--size-font-timeHours);
}
.panelChannels__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--size-margin-panelChannels);
  margin-right: var(--size-margin-panelChannels);
}
