.timeLine {
  /* grid-area: timeline; */
  /* height: 55%; */
  display: grid;
  grid-template-columns: min(200px, 20vw) 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "channel event";
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: var(--black-100);

  &::-webkit-scrollbar {
    display: none;
  }
}

.timeLine__sectionChannel {
  grid-area: channel;
  width: 100%;
  height: 100%;
}

.timeLine__sectionEvent {
  grid-area: event;
  overflow-x: scroll;
  overflow-y: hidden;

  &::-webkit-scrollbar {
    display: none;
  }
}
