.hoursLine {
  display: flex;
  /* height: var(--size-height-timeHours); */
  width: max-content;
  background-color: black;
  color: aliceblue;
  padding: 0.5rem 0;
}

.hoursLine__unoHour {
  display: flex;
  width: var(--size-card-width-hrs-event);
}

.unoHour__format {
  display: flex;
  flex-basis: 50%;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}

.format__text {
  margin: 0;
  font-size: var(--size-font-timeHours);
  font-weight: 300;
  color: var(--white);
}
